.profile1Div{
    padding-top: 55px;
    background-color: #f8f8f8;
}
.required{
    display: inline;
}
.abanaDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profileForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 20px 100px;
    color: #494949;
}
.profileForm h2{
    margin-left: -10px;
}
.blackButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.blackButton{
    cursor: pointer;
    background-color: #363636;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    height: 23px;
    padding: 8px 10px 0 10px;
    margin: 5px 0 5px 0;
    /* margin-top: 10px; */
}
::-webkit-input-placeholder{
    color: #494949;
    /* width: fit-content; */
    /* min-width: 400px; */
}
.actualFormContainter{
    margin-left: 25px;
}
.formRow{
    display: flex;
    flex-direction: row;
}
.formRow div{
    width: 300px;
}
.formRowLow{
    display: flex;
    flex-direction: column;
}
.formRowLow div{
    width: 600px;
}