.contact1Div{ 
    padding-top: 55px;
    background-color: #f8f8f8;
}
.contactTitleContainer{
    text-shadow:
    -.5px -.5px 0 #222,  
     .5px -.5px 0 #222,
     -.5px .5px 0 #222,
      .5px .5px 0 #222;    
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: white;
    background-image: url("http://cdn2.editmysite.com/images/editor/theme-background/stock/Wood.jpg");
    background-size: cover;
    /* background-color: black 10; */
}
.contactContentContainer{
    padding:  25px 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    align-self: center;
    color: #494949;
}
.contact{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.constactInfo{
    width: 200px;
    margin: auto;
}
.contactContentContainer a{
    color: #494949;
    text-decoration: none;
    cursor: pointer;
}
.contactContentContainer h1{
    align-self: center;
}