.payments1Div{
    padding-top: 55px;
    background-color: #f8f8f8;
}
.paymentsTitleContainer{
    text-shadow:
    -.5px -.5px 0 #222,  
     .5px -.5px 0 #222,
     -.5px .5px 0 #222,
      .5px .5px 0 #222;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: white;
    background-image: url("http://cdn2.editmysite.com/images/editor/theme-background/stock/Contrast-Wood.jpg");
    background-size: cover;
    background-color: black 10;
}
.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.paymentsBody{
    display: flex;
    flex-direction: column;
    padding: 20px auto;
    text-align: left;
    margin: 0 auto;
    /* align-self: center; */
}
.meetingContainer{
    margin: 0 auto;
    align-self: center;
    width: 600px;
}
.blackButtonContainer b{
    padding-left: 20px;
    margin-right: auto;
    /* margin-left: 20; */
}